.file-container {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.file-title {
  color: #333;
}

.file-content {
  color: #666;
}

.file-date {
  color: #999;
  font-size: 0.8rem;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red */
}

.download-button {
  background-color: #2196f3; /* Blue */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #1976d2; /* Darker blue */
}

.share-button {
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.share-button:hover {
  background-color: #388e3c; /* Darker green */
}

.unshare-button {
  background-color: #ff9800; /* Orange */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.unshare-button:hover {
  background-color: #f57c00; /* Darker orange */
}

.copy-link-button {
  background-color: #9c27b0; /* Purple */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.copy-link-button:hover {
  background-color: #7b1fa2; /* Darker purple */
}

.rename-button {
  background-color: #3f51b5; /* Indigo */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.rename-button:hover {
  background-color: #303f9f; /* Darker indigo */
}