.form-wrapper {
  padding: 2vh;
  margin: auto;
  width: auto;
  max-width: 400px;
}

.form-header {
  padding-left: 0.5vw;
  font-size: xx-large;
}

.form-container {
  overflow: hidden;
}

#upload-form, #register-form, #lookup-form {
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  padding: 5px;
  max-width: 400px;
  margin-top: -100%;
  transition: all 1s;
}


#upload-form.show, #register-form.show, #lookup-form.show {
  margin-top: 0;
}

form h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  margin-top: 10px;
}

form input, form button,
form textarea,
#lookUpField, .form-button {
  padding: 5px;
  height: 2em;
  margin: 5px;
  font-family: "Roboto Flex", sans-serif;
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size:large;
  font-weight: 100;
}

form input[type="submit"], .form-button {
  margin-left: 5px;
  background-color: var(--text-color);
  border: 0;
  border-radius: 5px;
  color: var(--primary-color);
}

form input[type="submit"]:hover {
  background-color: var(--button-hover-color);
}

form input::file-selector-button {
  margin-left: 5px;
  background-color: var(--text-color);
  padding: 0.5vw;
  margin: 5px;
  border: 0;
  border-radius: 5px;
  color: var(--primary-color);
  content: "";

}

form input::file-selector-button:hover {
  background-color: var(--button-hover-color);
}

form input::placeholder, #lookUpField::placeholder  {
  color: var(--text-color);
}

form input[type="file"] {
  padding: 0;
  height: auto;
}

